* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit;
  display: block; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

p {
  margin: 0;
  padding: 0; }

button,
button:active,
button:focus {
  outline: none;
  border: none; }

footer {
  position: relative; }

img {
  display: block;
  max-width: 100%; }

html {
  height: 100%;
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 14px; } }

body {
  font-family: 'Alegreya Sans', sans-serif;
  height: 100%;
  color: #fff;
  font-size: 18px;
  line-height: 1.2; }

.body-wrapper {
  min-height: 100vh;
  overflow: hidden; }

.wrapper {
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative; }

.maincontent {
  height: 100%;
  transition: transform 1s; }

.container {
  width: 95%;
  max-width: 920px;
  margin: 0 auto; }

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 40.75rem;
  color: #666666;
  height: 100vh;
  position: relative; }

.section__title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #000; }

.section__title-reviews {
  margin-bottom: 2rem; }

.section__title-order {
  color: #FFF; }

.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17.4375rem;
  position: relative; }
  @media screen and (max-width: 480px) {
    .benefit {
      flex-direction: row;
      width: 95%;
      margin-bottom: 31px; } }
  .benefit::before {
    content: '';
    position: absolute;
    background: url(./img/separator.png) center center/contain no-repeat;
    right: -3.5625rem;
    height: 8.6875rem;
    width: 3.8125rem; }
    @media screen and (max-width: 768px) {
      .benefit::before {
        display: none; } }
  .benefit:first-child {
    padding-left: 0; }
  .benefit:last-child {
    padding-right: 0; }
  .benefit:last-child::before {
    display: none; }
  .benefit__image {
    margin-bottom: 1.25rem; }
    @media screen and (max-width: 480px) {
      .benefit__image {
        margin-bottom: 0; } }
  .benefit__image-wrapper {
    display: inline-block;
    width: 8rem;
    height: 8rem;
    background: #F2F5F4;
    border-radius: 50%;
    position: relative; }
    @media screen and (max-width: 480px) {
      .benefit__image-wrapper {
        margin-right: 0.75rem; } }
  .benefit__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .benefit__title {
    text-align: center;
    font-size: 1.6875rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
    color: #000; }
    @media screen and (max-width: 480px) {
      .benefit__title {
        text-align: start;
        margin-bottom: 0.625rem; } }
  .benefit__disc {
    font-size: 18px;
    color: #666;
    font-weight: 400;
    font-weight: 300;
    text-align: center; }
    @media screen and (max-width: 480px) {
      .benefit__disc {
        text-align: start; } }

.order-container {
  z-index: 1; }

.form {
  display: flex;
  margin-top: 3.875rem; }
  @media screen and (max-width: 768px) {
    .form {
      flex-direction: column;
      padding: 0 16.5%;
      margin-top: 2rem; } }
  @media screen and (max-width: 480px) {
    .form {
      padding: 0; } }

.form__col {
  flex: 1;
  margin-right: 1.625rem; }
  @media screen and (max-width: 768px) {
    .form__col {
      margin-right: 0; } }
  .form__col:last-child {
    margin-right: 0; }

.form__row {
  display: flex;
  margin-bottom: 0.9375rem; }

.form__block {
  flex: 1;
  margin-right: 1.0625rem; }
  .form__block--little {
    margin-right: 0.75rem; }
  .form__block:last-child {
    margin-right: 0; }

.form__input {
  width: 100%;
  height: 3.625rem;
  border-radius: 0.25rem;
  border: none;
  padding: 1.125rem 0.75rem;
  border: 0.1875rem solid transparent; }
  @media screen and (max-width: 768px) {
    .form__input {
      height: 2rem; } }
  .form__input:focus {
    outline: none;
    border-color: #FEDB3F; }
  .form__input--texterea {
    height: 9.5rem;
    resize: none;
    margin-bottom: 1.125rem; }
    @media screen and (max-width: 768px) {
      .form__input--texterea {
        height: 5.25rem;
        margin-bottom: 0; } }
  .form__input-error {
    border-color: red; }

.form__controls {
  display: flex; }
  @media screen and (max-width: 480px) {
    .form__controls {
      justify-content: center; } }

.form__controls {
  margin-bottom: 1.1875rem; }
  .form__controls:last-child {
    margin-bottom: 0; }

.form__btn {
  margin-top: 2.9375rem;
  display: flex;
  justify-content: flex-start; }
  @media screen and (max-width: 768px) {
    .form__btn {
      justify-content: center; } }

.interactive-avatar {
  width: 4.625rem;
  height: 4.625rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative; }

.interactive-avatar__link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block; }

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.product-section {
  background: #F8FAF9; }

.product__container {
  display: flex; }
  @media screen and (max-width: 768px) {
    .product__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; } }

.product-content {
  overflow: hidden; }

.products {
  display: flex;
  position: relative;
  transition: left .4s; }

.product-item {
  padding-left: 3.61111rem;
  position: relative;
  left: 0px;
  width: 100%;
  flex-shrink: 0; }
  @media screen and (max-width: 768px) {
    .product-item {
      padding-left: 0; } }

.product-slider {
  position: relative; }

.product__col {
  display: flex;
  width: 53%;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 4.875rem; }
  .product__col:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .product__col {
      margin-right: 0;
      align-items: center; } }

@media screen and (max-width: 768px) {
  .product__col-right {
    width: 77%; } }

@media screen and (max-width: 768px) {
  .product__ingredients {
    display: none; } }

.product__title {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #000; }
  @media screen and (max-width: 768px) {
    .product__title {
      margin-bottom: 0.8125rem; } }

@media screen and (max-width: 768px) {
  .product__text {
    text-align: center; } }

.product__info {
  display: flex;
  font-size: 1.125rem;
  align-items: center;
  white-space: nowrap; }
  @media screen and (max-width: 768px) {
    .product__info {
      margin-top: 1.375rem; } }

.product__info-column {
  margin-right: 3.25rem;
  display: flex;
  flex-direction: column; }
  .product__info-column:last-child {
    margin-right: 0; }

.product__info-desc {
  color: #666666; }

.product__info-size {
  color: #000;
  font-weight: bold; }

.product__price {
  font-size: 3.75rem;
  color: #000;
  margin-right: 1.75rem;
  white-space: nowrap; }

.reviews-section {
  padding-top: 0; }

.reviews__display {
  background: #F8FAF9;
  padding: 2.625rem;
  position: relative;
  display: flex;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .reviews__display {
      padding: 2.5rem 0; } }

.reviews__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0; }

.reviews__item.active {
  position: static;
  opacity: 1; }

.reviews__display-inner {
  display: flex; }
  @media screen and (max-width: 768px) {
    .reviews__display-inner {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-top: 1.375rem; } }

.reviews__avatar {
  width: 15.875rem;
  height: 16.5rem; }
  @media screen and (max-width: 768px) {
    .reviews__avatar {
      width: 8.4375rem;
      height: 8.4375rem; } }

.reviews__content {
  flex: 1;
  padding: 1.75rem 2.5rem 0 3.8125rem; }
  @media screen and (max-width: 768px) {
    .reviews__content {
      padding: 2.375rem 1.125rem 0; } }

.reviews__title {
  font-size: 1.6875rem;
  font-weight: bold;
  margin-bottom: 0.875rem;
  color: #000; }

.reviews__text {
  margin-bottom: 1.5625rem; }

.reviews__author {
  font-weight: 500;
  color: #000; }

.reviews__switcher {
  display: flex;
  justify-content: center;
  margin-top: 2rem; }

.reviews__switchcer-item {
  margin-right: 0.375rem; }
  .reviews__switchcer-item:last-child {
    margin-right: 0; }

.reviews__switchcer-item.active {
  border: 0.375rem solid #FEDB3F; }

.button {
  display: inline-block;
  width: 9.75rem;
  height: 3.75rem;
  border-radius: 6.25rem;
  font-weight: 800;
  font-size: 1rem;
  padding: 1.3125rem 2.5625rem;
  text-transform: uppercase;
  color: #000;
  border: none;
  cursor: pointer; }
  @media screen and (max-width: 480px) {
    .button {
      width: 10rem;
      height: 3.75rem;
      font-size: 1.1875rem;
      padding: 1.3125rem 2.25rem; } }
  .button_color_yellow {
    background: #FEDB3F; }
    .button_color_yellow:hover {
      background: #FFD517; }
  .button_color_transparent {
    background-color: transparent;
    color: #fff;
    font-weight: 400; }
    .button_color_transparent:hover {
      color: #FEDB3F; }

.menu {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin: 0 1.25rem; }
  @media screen and (max-width: 768px) {
    .menu {
      display: none; } }

.menu--vertical {
  font-size: 2rem;
  text-align: center;
  font-weight: normal;
  line-height: 2; }
  @media screen and (max-width: 768px) {
    .menu--vertical {
      display: block; } }

.menu--vertical .menu__list {
  display: flex;
  flex-direction: column; }

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.menu__item {
  margin-right: 1.375rem; }
  .menu__item:last-child {
    margin-right: 0; }

.menu__link {
  white-space: nowrap; }

.benefits {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 480px) {
    .benefits {
      flex-direction: column; } }

.section__subtitle {
  font-size: 18px;
  color: #666;
  font-weight: 400;
  text-align: center;
  max-width: 27rem;
  margin: 0 auto 3rem; }
  @media screen and (max-width: 768px) {
    .section__subtitle {
      max-width: 23rem; } }
  @media screen and (max-width: 480px) {
    .section__subtitle {
      max-width: 31rem; } }

.contacts {
  font-style: normal;
  white-space: nowrap; }
  @media screen and (max-width: 480px) {
    .contacts {
      display: flex;
      flex-direction: column;
      align-items: center; } }

.hero .contacts__phone {
  font-weight: bold; }
  @media screen and (max-width: 768px) {
    .hero .contacts__phone {
      display: none; } }

.contacts__phone {
  font-size: 1.375rem;
  font-style: normal;
  white-space: nowrap; }

.contacts__phone-icon {
  width: 12px;
  height: 13px;
  margin-right: 5.6px;
  fill: #fff; }

.contacts_info {
  font-size: 1.3125rem;
  font-weight: 400; }

.ingredients {
  cursor: pointer;
  position: relative;
  display: inline-block; }
  .ingredients:hover .ingredients-dropdown {
    opacity: 1;
    left: 100%; }

.ingredients__button-icon {
  margin-bottom: 0.4375rem; }

.ingredients__button-icon__elem {
  width: 2.375rem;
  height: 2.375rem;
  display: block; }

.ingredients__button {
  width: 5.6875rem;
  height: 5.6875rem;
  background-color: #3A587E;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.ingredients__button-text {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase; }

.ingredients-dropdown {
  width: 17.0625rem;
  min-height: 18.1875rem;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  top: 0;
  left: -5000px;
  padding: 28px 25px 31px 28px;
  color: #000;
  opacity: 0;
  transform: opacity .3s; }

.ingredients__item {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-bottom: 1.75rem;
  justify-content: space-between; }
  .ingredients__item .ingredients__item-cell {
    justify-content: flex-end; }
  .ingredients__item:last-child {
    margin-bottom: 0; }

.ingredients__item-text {
  white-space: nowrap;
  display: flex;
  align-items: center; }

.ingredients__item-icon {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  margin-right: 0.3125rem; }

.order-section {
  background: url("./img/form_bg.jpg") center top/cover no-repeat;
  color: #fff;
  position: relative; }
  .order-section::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); }

.hero {
  background: url("./img/serf.jpg") no-repeat;
  background-color: #4370c3;
  background-position: center center;
  background-size: cover;
  color: #fff;
  padding-top: 1.5rem;
  padding-bottom: 4.3125rem;
  position: relative; }
  @media screen and (max-width: 768px) {
    .hero {
      background: url("./img/tablets.png") center center/cover no-repeat;
      background-color: #1968B1;
      padding-top: 0;
      padding-bottom: 0; } }

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1; }
  @media screen and (max-width: 768px) {
    .hero__container {
      width: 100%; } }

.hero__content {
  width: 52%; }
  @media screen and (max-width: 768px) {
    .hero__content {
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 0 3%;
      padding-top: 14%; } }

.hero__title {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1.0625rem; }
  @media screen and (max-width: 480px) {
    .hero__title {
      font-size: 2.5rem; } }
  @media screen and (max-width: 390px) {
    .hero__title {
      font-size: 2rem; } }

.hero__subtitle {
  font-weight: 400;
  font-size: 1.3125rem;
  margin-bottom: 2.4375rem; }
  @media screen and (max-width: 768px) {
    .hero__subtitle {
      margin-bottom: 2.75rem; } }

.footer {
  padding: 1.0625rem 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1; }

.footer__content {
  height: 5.4375rem;
  display: flex;
  justify-content: space-between;
  color: #292929;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .footer__content {
      flex-direction: column; } }
  .footer__content .contacts__phone-icon {
    fill: #000; }

.butter {
  margin-right: 1.4375rem;
  display: flex; }
  .butter:last-child {
    margin-right: 0; }
  .butter__img {
    margin-right: 0.875rem; }
  .butter__text {
    font-weight: 700;
    font-size: 1rem; }

.board-icon {
  width: 3.25rem;
  height: 2.5rem;
  margin-right: 14px; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  @media screen and (max-width: 768px) {
    .header {
      background-color: #1968B1;
      padding: 1.875rem;
      align-items: center; } }

.map-section {
  background: url("./img/map.png") center center/cover no-repeat;
  position: relative; }

.butters {
  display: flex;
  width: 28.25rem;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .butters {
      display: none; } }

.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: 0.625rem; }
  .radio--checkbox .radio__visible {
    border-radius: 0.25rem; }
    .radio--checkbox .radio__visible::before {
      background: url(./img/right.png) center center no-repeat;
      border-radius: 0; }

.radio__elem {
  display: none; }
  .radio__elem:checked ~ .radio__visible:before {
    display: block; }

.radio__visible {
  width: 1.625rem;
  height: 1.625rem;
  border-radius: 50%;
  position: relative;
  background: #fff;
  margin-right: 0.625rem; }
  .radio__visible::before {
    content: "";
    width: 0.8125rem;
    display: none;
    height: 0.8125rem;
    border-radius: 50%;
    background: #FEDB3F;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.why-section {
  padding-top: 6.4375rem; }
  .why-section .section__title {
    margin-bottom: 1rem; }

.team {
  display: flex;
  justify-content: space-between;
  margin-top: 3.1875rem; }
  @media screen and (max-width: 768px) {
    .team {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.team__item {
  text-align: center;
  flex: 1;
  margin-right: 1.25rem;
  max-width: 13.75rem;
  position: relative; }
  @media screen and (max-width: 768px) {
    .team__item {
      margin-bottom: 1rem; } }

.team__member {
  margin-bottom: 1.25rem;
  height: 290px;
  width: 100%; }

.team__member-icon {
  object-fit: cover;
  height: 100%;
  width: 100%; }

.team__item.active .team__title::after {
  transform: rotate(-180deg); }

.team__title {
  font-weight: 700;
  color: #000;
  font-size: 21px;
  margin-bottom: 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  transition: color .3s; }
  .team__title:hover {
    color: #e2c230; }
  .team__title::after {
    content: "";
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: .22222rem;
    border-left-width: .22222rem;
    border-top: .33333rem solid #000;
    border-bottom: 0;
    display: block;
    margin-left: .27778rem; }

.team__content {
  height: 0;
  overflow: hidden;
  transition: height .3s; }

.team_version_desktop .team__content {
  position: absolute;
  top: 100%; }

@media screen and (max-width: 768px) {
  .team_version_desktop {
    display: none; } }

.team_version_mobil {
  display: none; }
  @media screen and (max-width: 768px) {
    .team_version_mobil {
      display: flex; } }

.boards-menu-section {
  background: url(./img/boards-menu_bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff; }
  .boards-menu-section .section__title {
    position: absolute;
    top: 6.8125rem;
    left: 5.25rem;
    color: #fff; }

.board-menu {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0; }
  .board-menu__item {
    display: flex; }

.bm-item--one .bm-item__header {
  background: url(./img/slider_menu_1.jpg) no-repeat;
  background-position: center;
  background-size: cover; }

.bm-item--two .bm-item__header {
  background: url(./img/slider_menu_2.jpg) no-repeat;
  background-position: -44.875rem;
  background-size: cover; }

.bm-item--three .bm-item__header {
  background: url(./img/slider_menu_3.jpg) no-repeat;
  background-position: center;
  background-size: cover; }

.bm-item {
  flex: 1 1 auto;
  display: flex; }
  .bm-item__header {
    position: relative;
    width: 102px; }
    .bm-item__header::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.3); }
  .bm-item__title {
    font-size: 3rem;
    font-weight: 700;
    transform: rotate(270deg);
    bottom: 110px;
    position: absolute;
    left: -60px;
    z-index: 1; }

.bm-item__img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover; }

.bm-item__content {
  width: 0;
  overflow: hidden;
  background: rgba(51, 53, 55, 0.9);
  transition: width .7s; }

.bm-item__container {
  padding: 2.22222rem 4.05556rem 2.5rem 1.44444rem; }

.player {
  max-width: 41.375rem;
  height: 24.5rem;
  position: relative;
  margin: 0 auto;
  margin-top: 1.875rem; }
  .player.paused .player__start {
    border-left: 7.4px solid #fff;
    border-top: 0 solid transparent;
    border-bottom: 0 solid transparent;
    height: 20.992px;
    border-right: 7.4px solid #fff;
    padding: 2px; }

.player__wrapper {
  height: 100%; }
  .player__wrapper.active .player__splash {
    display: none; }

.player__splash {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../img/player_img.jpg);
  cursor: pointer; }
  .player__splash::before {
    content: url(../img/play.jpg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.player__controls {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 2.125rem;
  background-color: #404040;
  padding: 0 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none; }

.player__start {
  width: 11px;
  height: 11px;
  border: 0.625rem solid transparent;
  border-left-color: #fff;
  border-right-width: 0;
  padding: 0;
  background: 0 0;
  cursor: pointer; }

.player__playback {
  height: .88889rem;
  position: relative;
  flex: 1;
  margin: 0 .83333rem; }
  .player__playback::before {
    content: "";
    position: absolute;
    background: #626262;
    top: 50%;
    left: 0;
    right: 0;
    height: .22222rem;
    transform: translateY(-50%);
    display: block; }

.player__playback-button {
  position: absolute;
  width: 0.934375rem;
  height: 0.934375rem;
  border-radius: 0.4671875rem;
  left: 0; }

.product-slider__arrows {
  position: relative; }

.product-slider__arrow {
  position: absolute;
  top: 250px;
  z-index: 5;
  display: block; }

.product-slider__arrow-icon {
  width: 2.5rem;
  height: 2.375rem;
  display: block; }

.product-slider__arrow--right {
  right: -0.9375rem; }
  @media screen and (max-width: 768px) {
    .product-slider__arrow--right {
      right: 7.0625rem; } }
  @media screen and (max-width: 480px) {
    .product-slider__arrow--right {
      right: 1.0625rem; } }

.product-slider__arrow--left {
  left: -1.3125rem;
  transform: rotate(-180deg); }
  @media screen and (max-width: 768px) {
    .product-slider__arrow--left {
      left: 6.6875rem; } }
  @media screen and (max-width: 480px) {
    .product-slider__arrow--left {
      left: 0.6875rem; } }

.social {
  display: flex; }

.social_item {
  margin-right: 0.875rem; }
  .social_item:last-child {
    margin-right: 0; }

.social_link {
  width: 1.25rem;
  height: 1.25rem;
  display: block;
  position: relative; }
  .social_link:hover .social_icon {
    opacity: 1;
    transition: .3s; }

.social_icon {
  width: 1.25rem;
  height: 1.25rem;
  opacity: .3;
  transition: .2s; }

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%; }

.fixed-menu__item {
  margin-bottom: 0.3125rem; }
  .fixed-menu__item--active .fixed-menu__link {
    border-color: #FFF; }

.fixed-menu__link {
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative; }
  .fixed-menu__link::before {
    content: "";
    width: 0.5625rem;
    height: 0.5625rem;
    border-radius: 50%;
    position: absolute;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.humburger {
  width: 26px;
  height: 24px;
  flex-direction: column;
  justify-content: space-between;
  display: none; }
  @media screen and (max-width: 768px) {
    .humburger {
      display: inline-flex; } }

.humburger__plank {
  display: block;
  background: #fff;
  height: 4px;
  border-radius: 10px; }

.fullscrean-menu.active {
  display: flex; }

.fullscrean-menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #313131;
  overflow: hidden;
  z-index: 1000;
  flex-direction: column;
  justify-content: center;
  display: none; }

.fullscrean-menu__close-icon {
  width: 1.25rem;
  height: 1.25rem;
  fill: #FFFFFF; }

.fullscrean-menu__close {
  display: block;
  position: absolute;
  top: 2.625rem;
  right: 2.625rem;
  opacity: 0.7; }

.modal {
  display: none; }

.modal__container {
  background: #fff;
  padding: 2.1875rem 3.75rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.modal__content {
  margin-bottom: 0.9375rem;
  color: #000; }

.error__modal {
  color: red; }
