* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

p {
  margin: 0;
  padding: 0; }

button,
button:active,
button:focus {
  outline: none; }

footer {
  position: relative; }

html {
  height: 100%; }

body {
  font-family: 'Alegreya Sans', sans-serif;
  height: 100%;
  color: white;
  font-size: 18px;
  line-height: 1.2; }

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative; }

.container {
  width: 920px;
  margin: 0 auto; }

.section {
  display: flex;
  flex-direction: column;
  min-height: 652px;
  color: #000;
  height: 100%; }

.section__title {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center; }

.section__title-reviews {
  margin-bottom: 32px; }

.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 279px;
  position: relative; }
  .benefit::before {
    content: '';
    position: absolute;
    background: url(./img/separator.png) center center/contain no-repeat;
    right: -57px;
    height: 139px;
    width: 61px; }
  .benefit:first-child {
    padding-left: 0; }
  .benefit:last-child {
    padding-right: 0; }
  .benefit:last-child::before {
    display: none; }
  .benefit__image {
    margin-bottom: 20px; }
  .benefit__image-wrapper {
    display: inline-block;
    width: 128px;
    height: 128px;
    background: #F2F5F4;
    border-radius: 50%;
    position: relative; }
  .benefit__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .benefit__title {
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 20px; }
  .benefit__disc {
    font-size: 18px;
    color: #666;
    font-weight: 400;
    font-weight: 300;
    text-align: center; }

.order-container {
  z-index: 1; }

.form {
  display: flex;
  margin-top: 62px; }

.form__col {
  flex: 1;
  margin-right: 26px; }
  .form__col:last-child {
    margin-right: 0; }

.form__row {
  display: flex;
  margin-bottom: 16px; }

.form__block {
  flex: 1;
  margin-right: 17px; }
  .form__block--little {
    margin-right: 12px; }
  .form__block:last-child {
    margin-right: 0; }

.form__input {
  width: 100%;
  height: 58px;
  border-radius: 4px;
  border: none;
  padding: 18px 12px;
  border: 3px solid transparent; }
  .form__input:focus {
    outline: none;
    border-color: #FEDB3F; }
  .form__input--texterea {
    height: 152px;
    resize: none;
    margin-bottom: 18px; }

.form__controls {
  display: flex; }

.form__controls {
  margin-bottom: 19px; }
  .form__controls:last-child {
    margin-bottom: 0; }

.form__btn {
  margin-top: 47px; }

.interactive-avatar {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  overflow: hidden;
  position: relative; }
  .interactive-avatar--active {
    border: 6px solid #FEDB3F; }

.interactive-avatar__link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block; }

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.reviews__display {
  background: #F8FAF9;
  padding: 42px; }

.reviews__display-inner {
  display: flex; }

.reviews__avatar {
  width: 254px;
  height: 264px; }

.reviews__content {
  flex: 1;
  margin-left: 40px;
  padding-top: 28px;
  padding-right: 61px; }

.reviews__title {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 14px; }

.reviews__text {
  margin-bottom: 25px;
  font-size: 18px;
  color: #666;
  font-weight: 400; }

.reviews__author {
  font-weight: 500; }

.reviews__switcher {
  display: flex;
  justify-content: center;
  margin-top: 15px; }

.reviews__switchcer-item {
  margin-right: 6px; }
  .reviews__switchcer-item:last-child {
    margin-right: 0; }

.button {
  display: inline-block;
  width: 156px;
  height: 60px;
  border-radius: 100px;
  font-weight: 800;
  font-size: 16px;
  padding: 21px 41px;
  text-transform: uppercase;
  color: #000;
  border: none;
  cursor: pointer; }
  .button--yellow {
    background: #FEDB3F; }
    .button--yellow:hover {
      background: #FFD517; }
  .button--transparent {
    background-color: transparent;
    color: #fff;
    font-weight: 400; }
    .button--transparent:hover {
      color: #FEDB3F; }

.menu {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px; }

.menu__list {
  display: flex; }

.menu__item {
  margin-right: 22px; }
  .menu__item:last-child {
    margin-right: 0; }

.benefits {
  display: flex;
  justify-content: space-between; }

.headline {
  text-align: center; }
  .headline__subtitle {
    font-size: 18px;
    color: #666;
    font-weight: 400;
    margin-bottom: 50px;
    padding: 0 240px;
    margin-top: 21px; }

.contacts {
  font-style: normal; }

.contact__phone {
  font-weight: bold;
  font-size: 22px; }
  .contact__phone::before {
    content: url(../img/phone-b.png);
    margin-right: 7px; }

.contacts-info {
  font-size: 21px;
  font-weight: 400; }

.contact__phone-top::before {
  content: url(../img/phone.png); }

.order-section {
  background: url("./img/bg surfer.jpg") center top/cover no-repeat;
  color: #fff;
  position: relative;
  padding-top: 62px; }
  .order-section::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); }

.hero {
  background: url(./img/serf.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  padding-top: 24px;
  padding-bottom: 69px; }

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1; }

.hero__content {
  width: 50%; }

.hero__title {
  font-size: 48px;
  text-transform: uppercase; }

.hero__subtitle {
  font-weight: 400;
  font-size: 21px;
  margin-bottom: 39px; }

.footer {
  padding: 17px 0; }

.fotter-content {
  height: 87px;
  display: flex;
  justify-content: space-between;
  color: #292929;
  align-items: center; }

.butter {
  margin-right: 33px;
  display: flex; }
  .butter:last-child {
    margin-right: 0; }
  .butter__img {
    margin-right: 14.5px; }
  .butter__text {
    font-weight: 700;
    font-size: 16px; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.map-section {
  background: url(./img/map.png) center center/cover no-repeat; }

.butters {
  display: flex;
  width: 20px;
  align-items: center; }

.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: 10px; }
  .radio--checkbox .radio__visible {
    border-radius: 4px; }
    .radio--checkbox .radio__visible::before {
      background: url(../img/right.png) center center no-repeat;
      border-radius: 0; }

.radio__elem {
  display: none; }
  .radio__elem:checked ~ .radio__visible:before {
    display: block; }

.radio__visible {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  position: relative;
  background: #fff;
  margin-right: 10px; }
  .radio__visible::before {
    content: "";
    width: 13px;
    display: none;
    height: 13px;
    border-radius: 50%;
    background: #FEDB3F;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.why-section {
  padding-top: 103px; }

.reviews-section {
  padding-top: 62px; }

.social {
  display: flex; }

.social-item {
  margin-right: 14px; }

.social-link {
  width: 20px;
  height: 20px;
  display: block;
  position: relative; }

.social-item--vk .social-link::before {
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(./img/vk.png) center center/cover no-repeat;
  width: 100%;
  height: 100%;
  position: absolute; }

.social-item--fb .social-link::before {
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(./img/fb.png) center center/cover no-repeat;
  width: 100%;
  height: 100%;
  position: absolute; }

.social-item--inst .social-link::before {
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(./img/inst.png) center center/cover no-repeat;
  width: 100%;
  height: 100%;
  position: absolute; }

.social-item--tw .social-link::before {
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(./img/tw.png) center center/cover no-repeat;
  width: 100%;
  height: 100%;
  position: absolute; }

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%; }

.fixed-menu__item {
  margin-bottom: 5px; }
  .fixed-menu__item--active .fixed-menu__link {
    border-color: #FFF; }

.fixed-menu__link {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative; }
  .fixed-menu__link::before {
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 50%;
    position: absolute;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
