.butter {
    margin-right: 1.4375rem;
    display: flex;

    &:last-child {
        margin-right: 0;
    }

    &__img {
        margin-right: 0.875rem;
    }
    &__text {
        font-weight: 700;
        font-size: 1rem;

    }
}
.board-icon {
    width: 3.25rem;
    height: 2.5rem;
    margin-right: 14px;
}