.reviews__switcher {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

}
.reviews__switchcer-item {
    margin-right: 0.375rem;
    border: .375rem solid transparent;

    &:last-child {
        margin-right: 0;
    }
}
.reviews__switchcer-item.active {
    border: 0.375rem solid #FEDB3F;

}

