.benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17.4375rem;
    position: relative;

    @include phones {
        flex-direction: row;
        width: 95%;
        margin-bottom: 31px;
        
    }
    
    &::before {
        content: '';
        position: absolute;
        background: url(./img/separator.png)center center / contain no-repeat;
        right: -3.5625rem;
        height: 8.6875rem;
        width: 3.8125rem;

        @include tablets {
            display: none;
        }
    }
    &:first-child {
        padding-left: 0;
    }
    &:last-child {
        padding-right: 0;
    }
    &:last-child::before{
        display: none;
    }

    &__image {
        margin-bottom: 1.25rem;

        @include phones {
            margin-bottom: 0;
        }
    }

    &__image-wrapper {
        display: inline-block;
        width: 8rem;
        height: 8rem;
        background: #F2F5F4;
        border-radius: 50%;
        position: relative;

        @include phones {
            margin-right: 0.75rem;
        }
    }
    &__icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        
    }
    &__title {
        text-align: center;
        font-size: 1.6875rem;
        font-weight: bold;
        margin-bottom: 1.25rem;

        @include phones {
            text-align: start;
            margin-bottom: 0.625rem;
        }

    }
    &__disc {
        @include baseFont;
        font-weight: 300;
        text-align: center;

        @include phones {
            text-align: start;
        }
    }
    
 }
   
.order-container {
    z-index: 1;
}