.button {
    display: inline-block;
    width: 9.75rem;
    height: 3.75rem;
    border-radius: 6.25rem;
    font-weight: 800;
    font-size: 1rem;
    padding: 1.3125rem 2.5625rem;
    text-transform: uppercase;
    color: #000;
    border: none;
    cursor: pointer;

    @include phones {
        width: 10rem;
        height: 3.75rem;
        font-size: 1.1875rem;
        padding: 1.3125rem 2.25rem;
    }

    &--yellow {
        background: #FEDB3F;

        &:hover {
            background: #FFD517;
        }
    }

    &--transparent {
        background-color: transparent;
        color: #fff;
        font-weight: 400;

        &:hover {
            color: #FEDB3F;
        }
    }
}