.footer {
    padding: 1.0625rem 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
}
.fotter-content {
    height: 5.4375rem;
    display: flex;
    justify-content: space-between;
    color: #292929;
    align-items: center;

    @include phones {
        flex-direction: column;
    }
}