.fullscrean-menu.active {
    display: flex;
}

.fullscrean-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #313131;;
    overflow: hidden;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    display: none;
}
.fullscrean-menu__close-icon{
    width: 1.25rem;
    height: 1.25rem;
    fill: #FFFFFF;;

}
.fullscrean-menu__close {
    display: block;
    position: absolute;
    top: 2.625rem;
    right: 2.625rem;
    opacity: 0.7;
}