.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include tablets {
        background-color: #1968B1;
        padding: 1.875rem;
        align-items: center;
    }
}