

.section__subtitle {
    @include baseFont;
    text-align: center;
    max-width: 27rem;
     margin: 0 auto 3rem;

    @include tablets {
        max-width: 23rem;
    }

    @include phones {
        max-width: 31rem;
    }
}