.headline {
    text-align: center;


    &__subtitle {
        @include baseFont;
        margin-bottom: 3.125rem;
        padding: 0 15rem;
        margin-top: 1.3125rem;

        @include tablets {
            padding: 0 9.1rem;
        }

        @include phones {
            padding: 0;
        }
    }
}