.order-section {
    background: url('./img/bg\ surfer.jpg') center top / cover no-repeat;
    color: #fff;
    position: relative;
    padding-top: 62px;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .5);
    }
}  