.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 40.75rem;
    color: #666666;
    height: 100vh;
    position: relative;
}
.section__title {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: #000;
}
.section__title-reviews {
    margin-bottom: 2rem;
}
.section__title-order {
    color: #FFF;
}
