.section__slider {
    background: url(./img/Slider-menu.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    
    .section__title {
        position: absolute;
        top: 6.8125rem;
        left: 5.25rem;
        color: #fff;
        
    }
}