.social {
    display: flex;
}
.social-item {
    margin-right: 0.875rem;

    &:last-child {
        margin-right: 0;
    }
}
.social-link {
    width: 1.25rem;
    height: 1.25rem;
    display: block;
    position: relative;
    
    &:hover {
        .social-icon{
            opacity: 1;
            transition: .3s;
        }
    }

 }
 .social-icon {
     width: 1.25rem;
     height: 1.25rem;
     opacity: .3;
     transition: .2s;
 } 
